<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Discipline List Elements Fragments</title>
    </head>
    <body>

        <tr th:fragment="disicpline-active-list-element (discipline)">
            <td th:text="${discipline.getViewableDisciplineType()}">Type</td>
            <td>
                <a href="#" th:href="@{'/users/' + ${discipline.getDiscipliningUsername()}}"
                   th:text="${discipline.getDiscipliningUsername()}"></a>
            </td>
            <td th:text="${discipline.getDisciplinedAtString()}">Disciplined At</td>
            <td th:text="${discipline.getDisciplinedUntilString()}">Disciplined Until</td>
            <td th:text="${discipline.getDisciplineDuration()}">Duration</td>
            <td th:text="${discipline.getReason()}">Reason</td>
            <td>
                <form th:action="@{'/rescindDiscipline/' + ${discipline.getDisciplinedUsername()} + '/' + ${discipline.getId()}}" method="post">
                    <button class="btn btn-info btn-sm" type="submit" th:disabled="${!discipline.canRescind()}" th:text="#{Label.discipline.rescind}">Rescind</button>
                </form>
            </td>
        </tr>


        <tr th:fragment="disicpline-inactive-list-element (discipline)">
            <td th:text="${discipline.getViewableDisciplineType()}">Type</td>
            <td>
                <a href="#" th:href="@{'/users/' + ${discipline.getDiscipliningUsername()}}"
                   th:text="${discipline.getDiscipliningUsername()}"></a>
            </td>
            <td th:text="${discipline.getDisciplinedAtString()}">Disciplined At</td>
            <td th:text="${discipline.getDisciplinedUntilString()}">Disciplined Until</td>
            <td th:text="${discipline.getDisciplineDuration()}">Duration</td>
            <td th:text="${discipline.getReason()}">Reason</td>
            <td th:text="${discipline.isRescinded() ? 'Yes' : 'No' }">Rescinded?</td>
        </tr>

    </body>
</html>