<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Navbar</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/custom.css}">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e1f2fe" th:fragment="navbar">-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/brand-icon.png}" width="48" height="48">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-item-container" aria-controls="navbar-item-container" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-item-container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" th:href="@{/forums}" href="#" th:text="#{Label.allForums}">All Forums</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" th:href="@{/users}" href="#" th:text="#{Label.searchUsers}">Search Users</a>
                    </li>

                    <li sec:authorize="isAuthenticated()" th:if="${#request.requestURI != '/users/' + #authentication.getName()}" class="nav-item">
                       <a class="nav-link font-weight-bold" th:href="@{'/users/'+${#authentication.getName()}}" href="#" th:text="#{Label.userHome}">User home</a>
                    </li>

                    <li th:if="${#authentication == null || #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}" class="nav-item">
                        <a class="nav-link font-weight-bold" href="#" th:href="@{/login}"th:text="#{Label.login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link font-weight-bold" href="#" th:href="@{/logout}" th:text="#{Label.logout}">Logout</a>
                    </li>

                    <li th:if="${#authentication == null || #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}" class="nav-item">
                        <a class="nav-link font-weight-bold" href="#" th:href="@{/registerUser}" th:text="#{Label.register}">Register</a>
                    </li>

                    <span sec:authorize="hasAnyAuthority('MODERATOR', 'ADMINISTRATOR', 'SUPER_ADMINISTRATOR')" class="nav-item">
                        <a class="nav-link font-weight-bold" href="#", th:href="@{/administration}" th:text="#{Label.administration}">Administration</a>
                    </span>
                </ul>
            </div>
        </nav>
    </body>
</html>