<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
<!--        <input type="button" class="promote-user-button" th:fragment="promote-button-fragment (user, loggedInUser)"-->
<!--               th:attr="data-username=${user.getUsername()}, data-promotable-rank=${user.getIncrementedRank()}"-->
<!--               th:attrappend="data-promotable-rank-display=${user.getIncrementedRank() != null}?${user.getIncrementedRank().getDisplayRank()}"-->
<!--               th:disabled="${!user.isPromotableBy(loggedInUser)}"-->
<!--               th:value="${user.getIncrementedRank() != null}?${'Promote to ' + user.getIncrementedRank().getDisplayRank()}:'Cannot promote'">>-->

<!--        <input type="button" class="demote-user-button" th:fragment="demote-button-fragment (user, loggedInUser)"-->
<!--               th:attr="data-username=${user.getUsername()}, data-demotable-rank=${user.getDecrementedRank()}"-->
<!--               th:attrappend="data-demotable-rank-display=${user.getDecrementedRank() != null}?${user.getDecrementedRank().getDisplayRank()}"-->
<!--               th:disabled="${!user.isDemotableBy(loggedInUser)}"-->
<!--               th:value="${user.getDecrementedRank() != null}?${'Demote to ' + user.getDecrementedRank().getDisplayRank()}:'Cannot demote'">-->

        <input type="button" class="promote-user-button" th:fragment="promote-button-fragment (userRankAdjustmentDto)"
               th:attr="data-username=${userRankAdjustmentDto.getUsername()}, data-promotable-rank=${userRankAdjustmentDto.getIncrementedRank()}"
               th:attrappend="data-promotable-rank-display=${userRankAdjustmentDto.getIncrementedRank() != null}?${userRankAdjustmentDto.getIncrementedRank().getDisplayRank()}"
               th:disabled="${!userRankAdjustmentDto.isPromotableByLoggedInUser()}"
               th:value="${userRankAdjustmentDto.getIncrementedRank() != null}?${'Promote to ' + userRankAdjustmentDto.getIncrementedRank().getDisplayRank()}:'Cannot promote'">>

        <input type="button" class="demote-user-button" th:fragment="demote-button-fragment (userRankAdjustmentDto)"
               th:attr="data-username=${userRankAdjustmentDto.getUsername()}, data-demotable-rank=${userRankAdjustmentDto.getDecrementedRank()}"
               th:attrappend="data-demotable-rank-display=${userRankAdjustmentDto.getDecrementedRank() != null}?${userRankAdjustmentDto.getDecrementedRank().getDisplayRank()}"
               th:disabled="${!userRankAdjustmentDto.isDemotableByLoggedInUser()}"
               th:value="${userRankAdjustmentDto.getDecrementedRank() != null}?${'Demote to ' + userRankAdjustmentDto.getDecrementedRank().getDisplayRank()}:'Cannot demote'">

    </body>
</html>