<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Thread list elements</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{css/custom.css}">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f91e99ba28.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:fragment="thread-list-element-fragment (thread)">
            <div class="card-body py-3">
                <div class="row no-gutters align-items-center">
                    <!-- Topic section-->
                    <div class="col">
                        <span th:if="${thread.isLocked()}" ><i class="fa fa-lock"></i> </span>
                        <a class="text-big" data-abc="true" th:text="${thread.getTitle()}" th:href="@{'/forum/' + ${thread.getForum().getName()} + '/show/' + ${thread.getId()}}">Thread Title</a>

                        <div class="text-muted small mt-1">
                            <span th:text="${thread.getTimeSinceCreation()}">Creation time difference</span>
                            <span>&nbsp;·&nbsp;</span>
                            <a class="text-muted" data-abc="true" th:text="${thread.getFirstPost().getUser().getUsername()}" th:href="@{'/users/' + ${thread.getFirstPost().getUser().getUsername()}}">Original Poster</a>
                        </div>
                    </div>

                    <!-- Post count and recent activity sections-->
                    <div class="d-none d-md-block col-4">
                        <div class="row no-gutters align-items-center ml-2">
                            <!-- Post count-->
                            <div class="col-4" th:text="${thread.getPostCount()}">
                                # posts
                            </div>

                            <!-- Recent activity-->
                            <div class="col-8 align-items-center">
                                <div class="flex-truncate ml-2">
                                    <!-- Recent Activity : When -->
                                    <div class="line-height-1 text-truncate" th:text="${thread.getTimeSinceMostRecentPost()}">
                                        most recent update time elapsed
                                    </div>

                                    <!-- Recent Activity : Who -->
                                    <span>
                                        <span th:text="#{Label.by}"></span>
                                        <a class="text-muted small text-truncate" data-abc="true"
                                           th:text="${thread.getLastPost().getUser().getUsername()}"
                                           th:href="@{'/users/' + ${thread.getLastPost().getUser().getUsername()}}">
                                            by Who?
                                        </a>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
        </div>
    </body>
</html>