html, body {
    height: calc(100% - 4rem);
}

.form-error-list {
    margin-bottom: 12px;
}

.form-error-list-item {
    font-weight: bold;
}

.flash-prompt-container {
    width: fit-content;
}

.flash-prompt-success {
    font-style: italic;
}

.home-page-main-text-content {
    font-size: 1.3rem;
    margin-top: 24px;
}

.color-darkred {
    color: darkred;
}

.color-forestgreen {
    color: forestgreen;
}

.color-whitesmoke {
    color: whitesmoke;
}

.color-upvote-green {
    color: limegreen;
}

.color-downvote-red {
    color: darkred;
}
.btn-vote {
    width: auto;
    height: auto;
    padding: 0px 0px;
    border-radius: 50%;
    font-size: 0.65rem;
    text-align: center;
}

.btn-vote.btn-upvote {
    color: lime;
}

.btn-vote.btn-upvote:hover {
    color: darkgreen;
}

.btn-vote.btn-upvote:active {
    color: limegreen;
}

.btn-vote.btn-downvote {
    color: red;
}

.btn-vote.btn-downvote:hover {
    color: darkred;
}

.btn-vote.btn-downvote:active {
    color: #a20000;
}

.btn-vote i {
    position: relative;
}

.btn-vote.upvote-button-selected {
    color: lime;
}

.btn-vote.downvote-button-selected {
    color: red;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.displayed {
    display: inline;
}

.not-displayed {
    display: none;
}

.flex-truncate {
    min-width: 0 !important
}

.d-block {
    display: block !important
}

.text-ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-banned-strikethough {
    text-decoration: line-through;
}

.text-large {
    font-size: large;
}
