html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.form-error-list {
    margin-bottom: 12px;
}

.form-error-list-item {
    font-weight: bold;
}

.flash-prompt-container {
    width: fit-content;
}

.flash-prompt-success {
    font-style: italic;
}

body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.home-page-main-text-content {
    font-size: 1.3rem;
    margin-top: 24px;
}