<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{Label.password.reset.header}">Reset Password</title>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/form-error-autoscroll.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>

        <h2 th:text="#{message.resetPasswordPrompt}">Reset your password</h2>

        <form th:object="${userPasswordDto}" th:action="@{/processChangePassword}" method="POST">
            <div th:if="${#fields.hasErrors('*')}" class="form-error-container">
                <p style="color: red" th:text="#{Label.formErrors.correctionPrompt}">Please Correct Errors Below:</p>
                <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
            </div>

            <input type="hidden" name="username" id="username" th:value="${param.username}">
            <input type="hidden" name="token" id="token" th:value="${param.token}">

            <div>
                <label th:text="#{Label.password.new}">New Password</label>
                <input id="password" name="password" type="password" value="">
            </div>

            <div>
                <label th:text="#{Label.password.confirmNew}">Confirm New password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" value="">
            </div>

            <button type="submit" th:text="#{Label.password.change}">Change password</button>
        </form>

    </body>
</html>