<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>

        <h2 th:text="#{message.resetPasswordPrompt}">Reset your password</h2>

        <form th:object="${userPasswordDto}" th:action="@{/processChangePassword}" method="POST">
            <div th:if="${#fields.hasErrors('*')}">
                <p style="color: red">Please Correct Errors Below:</p>
                <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
            </div>

            <input type="hidden" name="username" id="username" th:value="${param.username}">
            <input type="hidden" name="token" id="token" th:value="${param.token}">

            <div>
                <label>New Password</label>
                <input id="password" name="password" type="password" value="">
            </div>

            <div>
                <label>Confirm New password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" value="">
            </div>

            <button type="submit">Change password</button>
        </form>

    </body>
</html>