<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title th:text="#{Label.thread.createNew.header.withForumName(${forumName})}">Create New Thread</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/custom.css}">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f91e99ba28.js" crossorigin="anonymous"></script>

        <script type="text/javascript" th:src="@{/js/form-error-autoscroll.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>

        <main class="container-fluid h-100" sec:authorize="isAuthenticated()">
            <h3 class="mt-2 mb-4" th:text="#{Label.thread.createNew.header}">Create New Thread</h3>

            <form th:action="@{'/forum/' + ${forumName} + '/processCreateThread'}" th:object="${topicThreadCreationDto}"
                  method="post">

                <div th:if="${#fields.hasErrors('*')}" class="container-sm flash-prompt-container">
                    <div class="form-error-container text-center">
                        <ul class="list-group form-error-list">
                            <li class="list-group-item list-group-item-danger form-error-list-item"
                                th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></li>
                        </ul>
                    </div>
                </div>


                <div class="form-group">
                    <input th:field="*{title}" type="text" name="title"
                           th:placeholder="#{Label.thread.title.placeholder}" value="" class="form-control">
                </div>

                <div class="form-group">
                    <textarea class="form-control" type="text" name="firstPostContent" rows="10"
                              th:field="*{firstPostContent}"
                              th:placeholder="#{Label.post.new.content.prompt.placeholder}">
                        Write your post here
                    </textarea>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg" th:text="#{Label.thread.createNew}">Create Thread</button>
                </div>
            </form>
        </main>
    </body>
</html>