<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="${forum.getName()}">Forum Page</title>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <h2 th:text="${forum.getName()}">Forum Name</h2>
        <div>
            <form th:action="@{'/processSearchThreads/' + ${forum.getName()}}" th:object="${topicThreadSearchDto}" method="post">
                <input type="text" th:field="*{searchText}" name="searchText" placeholder="Search for threads" th:placeholder="#{Label.thread.search.searchText.placeholder}">
                <button type="submit">Search</button>
            </form>
        </div>
        <div>
            <p th:text="${forum.getDescription()}">Description goes here</p>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a href="#" th:href="@{'/forum/' + ${forum.getName()} + '/createThread'}" th:text="#{Label.thread.createNew}">Create Thread</a>
            <hr>
        </div>

        <div th:each="thread : ${forum.getThreads()}" th:include="fragments/thread-list-elements.html :: thread-list-element-fragment (${thread})"> <!--TODO: Add Pagination?-->

        </div>
    </body>
</html>