<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Multi-Topic Forum Home Page</title>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <h2>Multi-Topic Forum Home Page</h2>

        <p>Welcome to the Multi-Topic Forum! Feel free to browse the various topic forums. If you wish to create a
            Topic Forum for a new topic that does not yet exist, please create a thread in the New Forum Requests
            forum, and a moderator will respond.</p>
    
    </body>
</html>