<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Multi-Topic Forum | Login</title>
    </head>
    <body>
    <div th:replace="fragments/navbar.html :: navbar"></div>
        <form th:action="@{/processLogin}" method="POST">
            <div th:if="${param.error}">
                <p style="color: red">Incorrect username or password</p>
            </div>

            <div th:if="${param.regError}">
                <p sytle="color: red" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}"></p>
            </div>

            <div th:if="${param.logout}">
                <p style="color: greenyellow">You have been logged out</p>
            </div>

            <div th:if="${param.regEmailSent}">
                <p style="color: greenyellow">Please check your email to complete your registration</p>
            </div>

            <div th:if="${param.registrationSuccess}">
                <p style="color: greenyellow">You successfully registered an account</p>
            </div>

            <div>
                Username: <input type="text" name="username" placeholder="username">
            </div>
            <div>
                Password: <input type="password" name="password" placeholder="password">
            </div>
            <div>
                Remember me: <input type="checkbox" name="remember-me">
            </div>

            <button type="submit">Login</button>
        </form>
    </body>
</html>