<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{Label.password.reset.header}">Reset Password</title>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/form-error-autoscroll.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <form th:action="@{/processResetPasswordStarterForm}" th:object="${user_email}" method="POST">
            <div th:if="${#fields.hasErrors('*')}" class="form-error-container">
                <p style="color: red" th:text="#{Label.formErrors.correctionPrompt}">Please Correct Errors Below:</p>
                <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
            </div>

            <div>
                <label th:text="#{Label.email}">Email</label>
                <input th:field="*{email}" type="email" name="email" placeholder="Email" th:placeholder="#{Label.email.placeholder}">
            </div>

            <button type="submit" th:text="#{Label.email.reset.submit.buttonText}">Send Password Reset Email</button>
        </form>

    </body>
</html>