<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <form th:action="@{/processResetPasswordStarterForm}" th:object="${user_email}" method="POST">
            <div th:if="${#fields.hasErrors('*')}">
                <p style="color: red">Please Correct Errors Below:</p>
                <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
            </div>

            <div>
                <label>Email</label>
                <input th:field="*{email}" type="email" name="email" placeholder="Email">
            </div>

            <button type="submit">Send Password Reset Email</button>
        </form>

    </body>
</html>