<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="${forumName} + ' | ' + ${threadTitle}">Create New Thread</title>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/post-vote-ajax.js}"></script>
        <script type="text/javascript" th:src="@{/js/delete-post-ajax.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>

        <h2 th:text="${threadTitle}">Thread Title</h2>

        <div> <!--TODO: Add Pagination?-->
            <div th:each="post : ${posts}" th:include="fragments/post-display.html :: post-fragment (${post})"></div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form id="new-post-form" th:action="@{'/forum/' + ${forumName} + '/show/' + ${threadId} + '/createPost'}" th:object="${postCreationDto}" method="post">
                <div th:if="${#fields.hasErrors('*')}">
                    <p style="color: red">Please Correct Errors Below:</p>
                    <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
                </div>

                <div>
                    <label>Content</label>
                    <input th:field="*{content}" type="text" name="content" value="" placeholder="Write your post here"> <!--TODO: Resize -->
                </div>

                <div>
                    <button type="submit">Submit Post</button>
                </div>
            </form>
        </div>

    </body>
</html>