<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="${forumName} + ' | ' + ${threadTitle}">Create New Thread</title>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>

        <h2 th:text="${threadTitle}">Thread Title</h2>

        <div>
            <div th:each="post : ${posts}" th:include="fragments/post-display.html :: post-fragment (${post})"></div>
        </div>

        <div sec:authorize="isAuthenticated()">
            Add ability to post here <!--TODO-->
        </div>
    </body>
</html>