<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Multi-Topic Forum | Register</title>
    </head>
    <body>

        <h2>Create an Account</h2>

        <form th:action="@{/processUserRegistration}" th:object="${user}" method="post">
            <div th:if="${#fields.hasErrors('*')}">
                <p style="color: red">Please Correct Errors Below:</p>
                <p style="color: red" th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}"></p>
            </div>

            <div>
                <label>Username</label>
                <input th:field="*{username}" type="text" name="username" placeholder="Username">
            </div>

            <div>
                <label>Email</label>
                <input th:field="*{email}" type="email" name="email" placeholder="Email">
            </div>

            <div>
                <label>Password</label>
                <input th:field="*{password}" type="password" name="password" placeholder="Password">
            </div>

            <div>
                <label>Confirm Password</label>
                <input th:field="*{confirmPassword}" type="password" name="confirmPassword" placeholder="Confirm Password">
            </div>

            <button type="submit">Create Account</button>
        </form>

    </body>
</html>