<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title th:text="'Multi-Topic Forum | ' + ${user.username} + '\'s Page'">PLACEHOLDER Page</title>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/promote-demote-user-ajax.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar.html :: navbar"></div>
        <h2 th:text="${user.username} + '\'s Page'"></h2>

        <div th:if="${param.userDisciplined}">
            <p style="color: greenyellow">User disciplined.</p>
        </div>

        <div th:if="${param.userAlreadyBanned}">
            <p style="color: orange">User was already banned.</p>
        </div>

        <p>PLACEHOLDER</p>
        <hr>

        <div sec:authorize="hasAnyAuthority('MODERATOR', 'ADMINISTRATOR', 'SUPER_ADMINISTRATOR')">
            <h3>Administrative Options</h3>

            <div sec:authorize="hasAnyAuthority('ADMINISTRATOR', 'SUPER_ADMINISTRATOR')">
                <span id="demote-user-button-container">
                    <div th:replace="fragments/promote-demote-buttons.html :: demote-button-fragment (${user}, ${loggedInUser})">
                    </div>
                </span>

                <span id="promote-user-button-container">
                    <div th:replace="fragments/promote-demote-buttons.html :: promote-button-fragment (${user}, ${loggedInUser})">
                    </div>
                </span>
            </div>

            <span th:if="${loggedInUser.isHigherAuthority(user)}">
                <a th:href="@{'/manageUserDiscipline/' + ${user.getUsername()}}" href="#">Discipline Management</a>
            </span>

            <hr>
        </div>

        <div>
            <h3 th:text="${user.username} + '\'s Posts'"></h3>
            <div th:if="${user.getPosts().isEmpty()}" th:text="${user.username} +' has not made any posts.'"></div>
            <div th:each="post : ${user.getPosts()}" th:include="fragments/post-display.html :: post-summary-fragment (post)"></div>
        </div>
<!--        <div th:if="${#authentication.getName() == user.username}" id="own-user-page">-->
<!--            <p>Current user</p>-->
<!--        </div>-->
    </body>
</html>